@charset "utf-8";

*{margin:0;padding:0;-webkit-text-size-adjust:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.5; font-family:"NotoKR";font-weight:400;-webkit-touch-callout:none;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);word-break:keep-all;color:#000;}

body{position:relative;}
img,fieldset{border:none;line-height:0;vertical-align:middle;}
img{width:100%;image-rendering:crisp-edges;image-rendering:optimizeQuality;image-rendering:-webkit-optimize-contrast;}
dl,dd,ul,ol{list-style:none;}
a{display:inline-block;text-decoration:none;}
a,span{font-size:inherit;font-weight:inherit;font-family:inherit;color:inherit;line-height:inherit;}
a,button,label{-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:rgba(0,0,0,0);}
/* a,button,label,input,select,textarea,span{outline:none;} */
button{background-color:transparent;border:none;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
legend{position:fixed;left:-700rem;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
legend,.hidden{position:absolute;top:-9999px;left:-9999px;visibility:hidden;width:0;height:0;line-height:0;}
caption{width:0;height:0;font-size:0;line-height:0;visibility:hidden;overflow:hidden;}
th,td{vertical-align:middle;text-align:center;}

select, textarea{border:none;}
select{width:100%;height:100%;/* -webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;border:none;outline:none; */background-color:transparent;border-radius:0;}
/* select::-ms-expand{display:none;} */
button::-moz-focus-inner{padding:0;border:0;}

input::-ms-clear{display:none;}
input:-ms-clear{display:none;}
input::-ms-reveal{display:none;}
input:-ms-reveal{display:none;}
input[type="number"]{-moz-appearance:textfield;}
input[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input[type=date]::-webkit-inner-spin-button{-webkit-appearance:none;display:none;}
input[type=date]::-webkit-calendar-picker-indicator{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
input{border:none;-webkit-appearance:none;appearance:none;border-radius:0;}
input[type="file"]{cursor:pointer;}
.iphone input:disabled, .ipad input:disabled{-webkit-text-fill-color:#a5a8b7;opacity:1;}/* 아이폰에서 disabled 되었을 때 글자가 회색으로 바뀌는거 수정 */
input[readonly], input[disabled]{background-color:#f2f2f7;}
input[disabled]+label, .disabled{color:#cbcbcb!important;}
input::-webkit-input-placeholder{color:#747474;}
input:-moz-placeholder{color:#747474;}
input::-moz-placeholder{color:#747474;}
input:-ms-input-placeholder{color:#747474;}
input::placeholder{color:#747474;}

header,footer,nav,aside,section,article,main,video,audio,canvas{display:block;}
object, svg{width:100%;height:100%;pointer-events:none;}

.m_dflex{display:-webkit-flex!important;display:-moz-flex!important;display:-ms-flex!important;display:-o-flex!important;display:flex!important;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;}
.m_ibarea{font-size:0;}
.m_ibarea>*{display:inline-block;vertical-align:top;}

.ielow body *, .ietxt{display:none;}
.ielow .ietxt{margin-top:130px;display:block;text-align:center;color:#000;font-size:1rem;}

[v-cloak]{display:none;}

html{font-size:14px;}
