/* init */
html {
	/* overflow-y: scroll; */
	line-height: 100%;
}

body {
	font-family: 'NotoKR', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 100%;
	font-size: 14px;
	/* background-image: url('../../img/login-background.png'); */
	background-repeat:no-repeat; 
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* overflow-y: hidden;
	overflow-x: hidden; */
	background-size: 100% 100%;
	overflow-y: hidden;
}

/* 게시판 스크롤 */
/* body { 
	scrollbar-base-color: #F5F5F5; 
	scrollbar-Face-Color: #dfdfdf; 
	scrollbar-Track-Color: #fff; 
	scrollbar-Highlight-Color: #dfdfdf; 
	scrollbar-Shadow-Color: #dfdfdf; 
} */

/* 크롬, 사파리 */
/* ::-webkit-scrollbar-track,
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px; 
	background-color: #fff;
}

::-webkit-scrollbar,
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e5e5e5;
	opacity: 0.2;
} */

html,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img,
ul {
	margin: 0;
	padding: 0;
	border: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
	line-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

li {
	list-style: none;
	box-sizing: border-box;
}

#hd ul,
nav ul,
#ft ul {
	margin: 0;
	padding: 0;
	list-style: none
}

legend {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	overflow: hidden
}

label {
	font-family: 'NotoKR', sans-serif;
}

label,
input,
button,
select,
img {
	vertical-align: middle
}

input,
button {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
	border: none;
}

select {
	margin: 0
}

p {
	margin: 0;
	padding: 0;
	word-break: break-all
}

hr {
	display: none
}

pre {
	overflow-x: scroll;
	font-size: 1.1em
}

a:link,
a:visited {
	text-decoration: none
}

/* firefox */
.pd-15 {
	padding: 0 15px;
}

.pd-all-15 {
	padding: 15px;
}

.pd-30 {
	padding: 30px;
}

.warp {
	display: table;
	width: 100%;
}

label {
	cursor: pointer;
}

.h-title {
	font-size: 1.285em;
	margin-bottom: 15px;
}

.font-bold {
	font-family: 'NotoKR-md';
}

.txt-right {
	text-align: right;
}

.box-shadow {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	padding: 15px;
}

/* head */
.top-head {
	height: 60px;
	background: #103148;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}

.top-head .logo a {
	line-height: 60px;
	font-size: 20px;
	color: #fff;
}

/* font-color */
.s_blue_txt{
	color:#136DA8;
	font-weight: 600;
}

.s_orange_txt{
	color:#e88631;
	font-weight: 600;
}

/* content */
.content {
	min-width: 1600px;
	position: relative;
	display: table;
	width: 100%;
	/* background: url("../../images/sub-bg.gif") repeat; */
	background-position: left top;
	top: 60px;
}

.right-content {
	padding-bottom: 50px;
	float: left;
	width: calc(100% - 300px);
	position: relative;
	min-height: 1000px;
}

.content .navigation {
	padding: 15px;
	background: #e0e4ec;
	font-size: 0.85em;
	color: #333;
}

.content .navigation .fa-home {
	color: #7a858e;
}

.content .navigation .fa-chevron-right {
	font-size: 0.8em;
	color: #999;
	margin: 0 5px;
}

input:focus {
	outline: none;
}

select:focus {
	outline: none;
}

/* input, select ìŠ¤íƒ€ì¼*/
select {
	width: 200px;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #e0e4ec;
	cursor: pointer;
}

input {
	width: 200px;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #e0e4ec;
	font-size: 14px;
}

.checkbox {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0;
}

input[type=checkbox],
input[type=radio] {
	margin: 0;
	width: 20px;
	height: 20px;
}

label {
	font-weight: 400;
}

.btn {
	padding: 0;
	border-radius: 0;
}

/* init */
[v-cloak]{display:none;} /*가상 돔 데이터 display: none 처리*/

.m_popup {
	display: none;
}

.show {
	display: inline-block;
}

.hide, .hidden {
	display: none;
}

.active {
	display: block;
}

.m_center {
	text-align: center;
}

/* layout */
#l_login__wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 5.714em;
}

#admin_login_box {
	position: relative;
	width: 1400px;
	margin: 0 auto;
}

#in_list {
	min-width: 600px;
	max-height: 716px;
	min-height: 716px;
	padding: 77px 130px;
	float: left;
	background: #EEF2F5;
	opacity: 0.95;
	text-align: center;
}

#l_login_board {
	max-width:800px;
	max-height: 716px;
	float:left;
	background-color: #fff;
	padding:50px 40px 0 40px;
}

#l_login__notice {
	clear:both;
	width:100%;
	display: block;
	text-align: center;
	background:#1984CB;
	opacity: 0.95;
	padding:22px 0; 
}

.l_login_mark {
	display: inline-block;
	position: relative;
}

.l_login__box_wrap {
	position: relative;
	width: 100%;
	margin-top: 52px;
}

.l_login_board__li {
	text-align: center;
}

#l_login_popup__calendar {
	min-width: auto;
	position: absolute;
	background: #fff;
	border: 1px solid #2C8ECF;
	top: 300px; 
	left: 1026px;
	padding: 15px 30px 5px;
}

/* 로그인 */
.m_login li:nth-of-type(2) {
	margin-top:30px;
}

.m_login .m_login__label {
	font-size:18px;
	font-weight:600;
	float:left;
	vertical-align: middle;
	background:#fff;
	min-width: 46px;
	padding:18px 15px;
	letter-spacing: 0;
	color: #A9BAC4;
}

.m_login .m_login__input {
	border:none;
	padding: 5px 0;
	min-width:244px;
}

.m_login .m_login__input:nth-of-type(1) {
	margin-left:-4px;
	width:267px;
}

.m_login .m_login__input:nth-of-type(2) {
	margin-left:-5px;
	width:269px;
}

.m_login__checkGrp {
	text-align: right;
	margin-top: 16px;
}

.m_login__checkGrp .m_login__checkbox_wrap{
	display: none;
}

.m_login__checkGrp .m_login__checkbox{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right:11px;
	background: url(../../img/chk_box.png) left center no-repeat;
	vertical-align: middle; 
}

.m_login__checkGrp .m_login__checkbox.checked {
	background: url(../../img/chk_active.png) left center no-repeat;
}

.m_login__checkGrp .m_login__label {
	font-size:18px;
}

.m_login__sign_up {
	font-size: 18px;
	margin-top: 65px;
}

.m_login__sign_up a {
	font-size: 18px;
}

.m_login__sign_up a:first-of-type {
	margin-right:25px;
}

.m_login__sign_up span {
	margin-right:25px;
}

.m_login__btnGrp {
	font-size: 20px;
	margin-top: 20px;
}

.m_login__btnGrp .m_login__btn{
	font-family: 'NotoKR', sans-serif;
	font-size: 20px;
	background: #1984CB;
	border-radius: 50px;
	display: block;
	width:100%;
	height: 51px;
	padding: 13.5px 0;
	color:#fff;
	border: none;
	font-weight: 600;
}

.m_login__btnGrp .m_login__btn_menual {
	font-family: 'NotoKR', sans-serif;
	font-size: 20px;
	margin-top:1.429em; 
	border-radius: 50px;
	display: block;
	width:100%;
	padding: 14px 0;
	letter-spacing: 0;
	background: #fff;
	border: 1px solid #1984CB;
	color: #1984CB;
	font-weight: 600;
	line-height: 100%;
}

/* 게시판 */
.m_tab_1 {
	margin-top: 79px;
}

.m_tab_2 {
	margin-top: 94px;
	margin-bottom:34px;
}


.l_login_board__li .libtn {
	min-width:360px;
	float: left;
	font-family: 'NotoKR', sans-serif;
	font-size:16px;
	border-bottom: 6px solid;
	padding-bottom:10px;
	padding-top:14px;
	background:rgba(255,255,255);
	cursor: pointer;
	letter-spacing: 0;
	color: #A9BAC4;
	font-weight: 600;
}

.l_login_board__li .libtn.active {
	color: #2C8ECF;
}

.m_login_board__table_1,
.m_login_board__table_2{
	display: block;
	/* margin-bottom:30px; */
	/* width:103%; */
	border-collapse:collapse;
	border-spacing:0;
}
table caption{position:absolute;left:-9999px;line-height:0;text-indent:-9999px;opacity:0;}

.m_login_board__table_2{
	width:100%;
}

.m_login_board__table_2{
	width:103%;
}

.m_login_board__thead tr{
	border-bottom: 2px solid #000;
}

.m_login_board__thead th {
	padding-top: 36px;
}

.m_login_board__table_1 tbody,
.m_login_board__table_2 tbody{
	border-collapse: collapse;
	display:block;
	height: 448px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 16px;
}

.m_login_board__table_1 tbody{
	width:101%;
}

.m_login_board__table_1 tbody.active{
	width: 98%;
}

.m_login_board__table_1 tbody td:nth-of-type(1) { width: 40px; }
.m_login_board__table_1 tbody td:nth-of-type(2) { width: 120px; }
.m_login_board__table_1 tbody td:nth-of-type(3) { width: 120px;}
.m_login_board__table_1 tbody td:nth-of-type(4) { width: 305px; display: inline-block; text-align: left; line-height: 1;}
.m_login_board__table_1 tbody td:nth-of-type(5) { width: 121px; }
	
.m_login_board__table_1 tbody.active td:nth-of-type(4) {border-bottom: 0; line-height: 1;}
.m_login_board__table_1 tbody.active td:nth-of-type(5) {padding-right: 27px;}

.m_login_board__table_2 tbody td:nth-of-type(1) { width: 40px; }
.m_login_board__table_2 tbody td:nth-of-type(2) { width: 120px; }
.m_login_board__table_2 tbody td:nth-of-type(3) { width: 200px; }
.m_login_board__table_2 tbody td:nth-of-type(4) { width: 40px; }
.m_login_board__table_2 tbody td:nth-of-type(5) { width: 200px;  }
.m_login_board__table_2 tbody td:nth-of-type(6) { width: 120px; }

.m_login_board__table_1 th,
.m_login_board__table_2 th {
	padding-bottom: 6px;
	vertical-align:middle;
	text-align:center;
}

.m_login_board__table_1 td,
.m_login_board__table_2 td {
	padding:21px 0;
	vertical-align:middle;
	text-align:center;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.m_login_board__table_1 th{
	color:#000;
}

.m_tr__slide {
	cursor: pointer;
	border-bottom: 1px solid #e5e5e5;
}

.m_tr__slide_content {
	border-bottom: 1px solid #e5e5e5;
}

.m_tr__content {
	font-family: 'NotoKR', sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	min-height: 298px;
	background:#EAF0F3;
	text-align: left;
	padding: 20px 30px;
}

.m_tr__content textarea {
	resize: none;
    border: none;
    background: transparent;
    height: auto;
    width: 669px;
    font-family: 'NotoKR', sans-serif;
    color: #000;
    height: 250px;
	font-size: 16px;
	overflow-y: auto;
}

.m_tr__list_btn__wrap {
	text-align: right;
}

.m_tr__list_btn__wrap .m_tr__list_btn {
	border:none; 
	background-color: #fff;
	margin-top:20px;
	margin-right: 15px;
}

.m_tr__list_btn span{
	font-family: 'NotoKR', sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-left:10px;
	vertical-align: middle;
}

.m_tab_2 .m_calendar__wrap {
	text-align: center;
}

.m_tab_2 .m_calendar {
	text-align: center;
	display: inline-block;
}

.m_arrow_img {
	display: inline-block;
}

.m_calendar {
	border: none;
	background: #fff;
}

.m_calendar__img {
	width: 29px;
}

.m_calendar input {
	height:30px;
	border: none;
	font-family: 'NotoKR', sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0;
	color: #1984CB;
	font-weight: 500;
	cursor: pointer;
	line-height: 1;
}
.m_calendar2{
  display:inline-block;
}

/* 페이지네이션 */
.m_pagination__list {
	margin-top: 15px;
	margin-bottom: 42px;
	text-align: center;
}

.m_pagination__list button {
	padding:4px 8px;
	background-color:transparent;
	border:none;
	color:inherit;
	margin-top:15px;
	margin-bottom:37px;
	text-align: center;
}

.m_pagination__list .m_pagination__prev {
	display: inline-block;
	margin-right: 17.5px;
	cursor: pointer;
}

.m_pagination__list .m_page {
	font-size:18px;
	display: inline-block;
	margin: 0 12.5px;
	vertical-align: middle;
	color: #A6B0B6;
	padding: 5px 7px;
	cursor: pointer;
}

.m_pagination__list .m_page.active {
	background: #1984CB;
	color: #FFFFFF;
}

.m_pagination__list .m_pagination__next {
	display: inline-block;
	margin-left: 17.5px;
	cursor: pointer;
}

/* 공지사항 */
#l_login__notice .copy_text {
	font-size:22px;
	color:#fff;
}

.copy_text:nth-of-type(1) {
	margin-right:30px;
}

.copy_text:nth-of-type(2) {
	margin-right:40px;
}

/* pagination */

.l_paging_area{margin-top:2.5rem;height:3.3rem;font-size:0;;text-align:center;}
.l_paging_area>*{display:inline-block;vertical-align:top;}
  .l_paging{padding:0 0.45rem;height:1.71rem;line-height:1.8rem;font-size:1.28rem;color:#A6B0B6;font-weight:500;background-color:#fff;}
  .l_paging.s_on{color:#fff;background-color:#1984CB;}
  .l_paging+.l_paging{margin-left:1.4rem;}
  .l_page.l_prev{margin-right:2.4rem;background: transparent;}
  .l_page.l_next{margin-left:2.4rem;background: transparent;}
  .l_page .img{width:1.71rem;height:1.71rem;}

/* flatpickr */
.flatpickr-calendar.open{width:33.5rem;}
.flatpickr-calendar.open .numInputWrapper{display:none;}
.flatpickr-calendar.open .flatpickr-innerContainer{display:block;}
.flatpickr-calendar.open .flatpickr-current-month {padding: 0;}
.flatpickr-calendar.open .flatpickr-current-month .flatpickr-monthDropdown-months{padding:0;font-size:2.15rem;font-weight:500;pointer-events:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;border:none;outline:none;text-align-last:center;-ms-text-align-last:center;-moz-text-align-last:center;}
.flatpickr-calendar.open .flatpickr-current-month .flatpickr-monthDropdown-months::-ms-expand{display:none;}
.flatpickr-calendar.open .flatpickr-months{padding-top:0.95rem;}
.flatpickr-calendar.open .flatpickr-months .flatpickr-month{height:4rem;}
.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month svg,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month svg{width:1.5rem;height:1.5rem;fill:#1984CB;stroke:#1984cb;}
.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month.flatpickr-prev-month{left:10.2rem;top:1.05rem;height:auto;line-height:0;}
.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month.flatpickr-next-month{right:10.5rem;top:1.05rem;height:auto;line-height:0;}
.flatpickr-calendar.animate.open{border:1px solid #1984CB;border-radius:0;box-shadow:0 0.3rem 2.8rem #8BA7B9;}
.flatpickr-calendar.open .flatpickr-days{margin-top:0.1rem;width:100%;}
.flatpickr-calendar.open .dayContainer{width:100%;max-width:100%;}
.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month svg path{stroke-width:2;}
.flatpickr-calendar.open span.flatpickr-weekday{width:4.2rem;font-size:1.14rem;color:#9E9DA7}
.flatpickr-calendar.open span.flatpickr-weekday:first-child{color:#AB2737;opacity:0.6;}
.flatpickr-calendar.open span.flatpickr-weekday:last-child{color:#0B81CF;opacity:0.6;}
.flatpickr-calendar.open .flatpickr-weekdays{height:1.95rem;border-bottom:1px solid #6A7B85;}
.flatpickr-calendar.open .flatpickr-day{margin:0 0.6rem;max-width:none;width:2.9rem;height:2.9rem;line-height:2.9rem;font-size:1.42rem;color:#292929;font-weight:500;border:none;flex-basis:auto;}
.flatpickr-calendar.open .flatpickr-day:nth-child(7n+1){color:#AB2737;}
.flatpickr-calendar.open .flatpickr-day:nth-child(7n){color:#0B81CF;}
.flatpickr-calendar.open .flatpickr-day.today{color:#fff;background-color:#1984CB;}
.flatpickr-calendar.open .flatpickr-day.prevMonthDay,
.flatpickr-calendar.open .flatpickr-day.nextMonthDay{opacity:0.4;}
.flatpickr-calendar.open .flatpickr-rContainer{margin:0.8rem 0 1.55rem;padding:0 1.9rem;display:block;}
.flatpickr-calendar.open .flatpickr-day.selected {color:#fff !important;}

 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.m_login_board__table_1 tbody td:nth-of-type(1) { display: table-cell;}
	.m_login_board__table_1 tbody td:nth-of-type(2) { display: table-cell;}
	.m_login_board__table_1 tbody td:nth-of-type(3) { display: table-cell;}
	.m_login_board__table_1 tbody td:nth-of-type(4) { line-height: 1;}
	.m_login_board__table_1 tbody td:nth-of-type(5) { display: table-cell;}

	.m_login_board__table_1 tbody.active td:nth-of-type(1) {border-bottom: 1px solid #e5e5e5;}
	.m_login_board__table_1 tbody.active td:nth-of-type(2) {border-bottom: 1px solid #e5e5e5;}
	.m_login_board__table_1 tbody.active td:nth-of-type(3) {border-bottom: 1px solid #e5e5e5;}
	.m_login_board__table_1 tbody.active td:nth-of-type(4) {line-height: 1;}
	.m_login_board__table_1 tbody.active td:nth-of-type(5) {border-bottom: 1px solid #e5e5e5; padding-left: 42px; padding-right: 26px;}
}