html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;vertical-align:baseline;letter-spacing: 0;}

/* HTML5 display-role reset for older browsers */
div, a, p {box-sizing: border-box;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{-webkit-tap-highlight-color:none;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content: '';content:none;}
table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration: none;color:inherit;}
